.rdrDefinedRangesWrapper {
  display: none;
}

.rdrMonthsVertical {
  font-size: 14px;
}
.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background-color: #afd2fc;
  color: #afd2fc;
  border: 0px;
}
.rdrDateDisplayWrapper {
  display: none;
}
/* .rdrDateDisplayWrapper {
  width: 500px;
}
.rdrMonthsVertical {
  width: 500px;
}
.rdrMonth {
  width: 500px;
  height: 300px;
}
.rdrDays {
  height: 300px;
} */

@media screen and (max-width: 390px) {
  .rdrMonthsVertical {
    font-size: 10px;
  }
}
